streamlit==1.32.0

langchain==0.1.14
langchain-community==0.0.30
langchain-core==0.1.37
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.3

faiss-cpu==1.7.4

pypdf==3.17.4
PyPDF2==3.0.1
python-docx==1.1.0

sentence-transformers==2.2.2
huggingface-hub==0.20.3

pydantic==1.10.13